@font-face {
    font-family: 'audiowide';
    src: url('/fonts/Audiowide-Regular.ttf');
}
@font-face {
    font-family: 'sansBartle';
    src: url('/fonts/BBHSansBartle-Regular.ttf');
}
@font-face {
    font-family: 'orbitron';
    src: url('/fonts/Orbitron-VariableFont_wght.ttf');
}